 {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Buddha Header</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <!-- TOP BAR -->

    <div class="top-bar">
        For Next Day Delivery Select Product Tagged Express Before 9pm. |
        Min. Order Value Now At ₹ 399
    </div>

    <!-- HEADER -->

    <header>

        <!-- LOGO -->

        <div class="logo">
            <h1>HEALTHY</h1>
            <h5>BUDDHA</h5>
        </div>

        <!-- SEARCH -->

        <div class="search-box">

            <div class="menu-icon">
                <i class="fa-solid fa-bars"></i>
            </div>

            <input type="text"
            placeholder="Search for anything organic & eco friendly">

            <div class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

        </div>

        <!-- RIGHT SIDE -->

        <div class="right-menu">

            <div class="menu-item">
                <i class="fa-regular fa-star"></i>
                <p>New To HB</p>
            </div>

            <div class="menu-item">
                <i class="fa-solid fa-crown"></i>
                <p>Zen Club</p>
            </div>

            <div class="menu-item">
                <i class="fa-regular fa-clipboard"></i>
                <p>Lab Reports</p>
            </div>

            <div class="menu-item">
                <i class="fa-regular fa-message"></i>
                <p>Feedback</p>
            </div>

            <div class="menu-item">
                <i class="fa-regular fa-user"></i>
                <p>Login</p>
            </div>

        </div>

    </header>

    <!-- CATEGORY BAR -->

    <div class="category-bar">

       <div>

    <select name="fruits " id="fruits ">

        <option value="fruits & Vegetables">fruits & Vegetables</option>

        <option value="Vegetables">Vegetables</option>

        <option value="Ready To Use">Ready To Use</option>

        <option value="Micro Greens">Micro Greens</option>

        <option value="Fresh Leafy Greens">Fresh Leafy Greens</option>

        <option value="Fresh Fruits">Fresh Fruits</option>

        <option value="Veggies Basket">Veggies Basket</option>

    </select>
</div>


        <div>
            <select name="Daily Staples" id="Daily Staples">
                <option value="Daily Staples">Daily Staples</option>
                <option value="Rice & Cereals">Rice & Cereals</option>
                <option value="Dry Fruits">Dry Fruits</option>
                <option value="Floures">Floures</option>
                <option value="Cereal Flakes">Cereal Flakes</option>
            </select>
        </div>

        <div>
            <select name="Snacks & More" id="Snacks & More">
                <option value="Snacks & More">Snacks & More</option>
                <option value="Healthy Snacking">Healthy Snacking</option>
                <option value="Tea & Coffee">Tea & Coffee</option>
                <option value="Sweets">Sweets</option>
            </select>
        </div>
        <div>
            <select name="" id="">
                <option value="Bakery">Bakery</option>
                <option value="Diary">Diary</option>
            </select>
        </div>

        <div>
            <select>
                <option value="New Additions">New Additions</option>
                <option value="Love of Baking">Love of Baking</option>
                <option value="Gift Basket">Gift Basket</option>
                <option value="High Protein">High Protein</option>
            </select>
        </div>
        <div>
            <select name="" id="">
                <option value="Personal Care">Personal Care</option>
                <option value="Natural Cleaners">Natural Cleaners</option>
                <option value="Pooja Essentials">Pooja Essentials</option>
                <option value="Books">Books</option>
            </select>
        </div>

    </div>
    <div>
        <!-- <img href="{% static 'images/IMG1.JPG'%}"> -->
        <img src="{% static 'images/IMG1.JPG'%}" alt="">
    </div>

</body>
</html>
 